/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Container con dimensioni dello schermo */
body > div{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* Container */
#container{
    height: 70%;
    width: 80%;
    display: flex;
}
/* fotoContainer */
#fotoContainer{
    height: 100%;
    width: 80%;
    position: relative;
}

#fotoContainer > button{
    height: 10%;
    aspect-ratio: 1;
    background-color: white;
    border: none;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

#fotoContainer > button:first-of-type{
    left: 0;
}

#fotoContainer > button:last-of-type{
    right: 0;
}

#fotoContainer > div{
    height: 100%;
    width: 100%;
}

#fotoContainer > div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#fotoContainer > div > div{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 1rem;
    color: white;
}

#thumbnailsContainer{
    height: 100%;
    width: 20%;
    background-color: black;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#thumbnailsContainer > img{
    height: calc(100% / 5);
    width: 100%;
    object-fit: cover;
    display: block;
}

#thumbnailsContainer > img:first-of-type{
    border-top-right-radius: 0.5rem;
}

#thumbnailsContainer > img:last-of-type{
    border-bottom-right-radius: 0.5rem;
}

#controlContainer{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

#controlContainer > button{
    height: 75%;
    aspect-ratio: 1;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}